In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('Books_df.csv')

In [7]:
df = df.drop(columns=['No. of People rated', 'URLs', 'Type', 'Unnamed: 0'], axis=1)

KeyError: "['0'] not found in axis"

In [5]:
df.head()

,Unnamed: 0,Title,Author,Main Genre,Sub Genre,Price,Rating
0,0,The Complete Novel of Sherlock Holmes,Arthur Conan Doyle,"Arts, Film & Photography",Cinema & Broadcast,₹169.00,4.4
1,1,Black Holes (L) : The Reith Lectures [Paperbac...,Stephen Hawking,"Arts, Film & Photography",Cinema & Broadcast,₹99.00,4.5
2,2,The Kite Runner,Khaled Hosseini,"Arts, Film & Photography",Cinema & Broadcast,₹175.75,4.6
3,3,Greenlights: Raucous stories and outlaw wisdom...,Matthew McConaughey,"Arts, Film & Photography",Cinema & Broadcast,₹389.00,4.6
4,4,The Science of Storytelling: Why Stories Make ...,Will Storr,"Arts, Film & Photography",Cinema & Broadcast,₹348.16,4.5