In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('Books_df.csv')

In [20]:
df = df.drop(columns=['No. of People rated', 'URLs', 'Type', 'Unnamed: 0'], axis=1)

In [21]:
df.head()

,Title,Author,Main Genre,Sub Genre,Price,Rating
0,The Complete Novel of Sherlock Holmes,Arthur Conan Doyle,"Arts, Film & Photography",Cinema & Broadcast,₹169.00,4.4
1,Black Holes (L) : The Reith Lectures [Paperbac...,Stephen Hawking,"Arts, Film & Photography",Cinema & Broadcast,₹99.00,4.5
2,The Kite Runner,Khaled Hosseini,"Arts, Film & Photography",Cinema & Broadcast,₹175.75,4.6
3,Greenlights: Raucous stories and outlaw wisdom...,Matthew McConaughey,"Arts, Film & Photography",Cinema & Broadcast,₹389.00,4.6
4,The Science of Storytelling: Why Stories Make ...,Will Storr,"Arts, Film & Photography",Cinema & Broadcast,₹348.16,4.5

In [28]:
genre_list = df['Main Genre'].unique()
print(len(genre_list))

30

In [29]:
df_sorted = df.sort_values(by=['Main Genre', 'Rating'], ascending=[True, False])

In [31]:
df_sorted.head()

,Title,Author,Main Genre,Sub Genre,Price,Rating
30,The Supernatural Quiz Book: 500 Questions and ...,Light Bulb Quizzes,"Arts, Film & Photography",Cinema & Broadcast,₹404.00,5.0
120,அசுரனின் காதல் (Tamil Edition),Ebin Rider,"Arts, Film & Photography",Theater & Ballet,₹400.00,5.0
132,Funny Jokes for 15 Year Old Teens: The Ultimat...,Cooper The Pooper,"Arts, Film & Photography",Theater & Ballet,₹165.00,5.0
135,अभिनेता जीवन-एक संघर्ष: Evaluate yourself befo...,Pankaj Gupta,"Arts, Film & Photography",Theater & Ballet,₹99.00,5.0
147,Marainthirunthu Paarkum Marmam Enna..!!!: மறைந...,Thiyashi Vijay,"Arts, Film & Photography",Theater & Ballet,₹250.00,5.0

In [32]:
filtered_df = pd.DataFrame()

In [33]:
for genre, group in df_sorted.groupby('Main Genre'):
    top_100 = group.head(100)
    filtered_df = pd.concat([filtered_df, top_100], ignore_index=True)

In [36]:
filtered_df.to_csv("Final2.csv", index=False, encoding='utf-8')